<div>
    <form method="POST" action="/login" class="login">
        <fieldset class="login_field">
            <label for="name">username</label>
            <input type="text" name="name" placeholder="username">
            <label for="password">password</label>
            <input type="password" name="password" placeholder="password">
        </fieldset>
        <input  class="login_submit" type="submit" value="Login">
    </form>
</div>
