<h1>Hello Sinatra-Warden</h1>
<div>
	<ul>
		<li>名前: <%= login_user[:name] %></li>
		<li>メールアドレス: <%= login_user[:mail_address] %></li>
		<li>年齢: <%= login_user[:age] %></li>
	</ul>
</div>
<a href="/logout">Logout</a>
